<div class="header clearfix">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{site.url}}">
                <i class="fa fa-home"></i> {{ site.name }}
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="solutions.html"><i class="fa fa-briefcase"></i> Solutions</a>
                </li>
                <li>
                    <a href="contact.html"><i class="fa fa-envelope"></i> Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
